<!-- This is the head of your html, add content here just like you would normally add it to the head. -->


<!-- Meta Data -->
<meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} | Cannery Arts Centre</title>
    <meta name="description" content="Esperance Tide is your go-to guide on the coastal town of Esperance, Western Australia - home of the famous Lucky Bay, Cape Le Grand and Wharton's Beach. ">
    <meta name="keywords" content="esperance, cannery arts centre, esperance art, lucky bay, western australia, art, culture">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->

    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ page.title }}" property="og:title">
    <meta content="{{ page.excerpt }}" property="og:description">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <meta content="{{ category }}" property="article:section">
    <meta content="{{ tag }}" property="article:tag">
    <meta name="og:site_name" content="Esperance Tide">
    <meta name="og:type" content="website">
    <meta property="fb:admins" content="180300272376269" />
    <meta property="fb:app_id" content="1868993900013444" />

    <meta property="og:image" content="{{ page.image_path }}">


<!-- end of meta tags -->

<!-- Links to CSS Stylesheets  -->

    <!--  External CSS Stylesheets (ie plugins, google fonts, etc) -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700" rel="stylesheet">

    <!-- Font awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Mailchimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <!-- Favicon -->
    <link rel="icon" href="../../../../images/favicon.png">

    <!-- Snipcart -->
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

    <!--  Your CSS Stylesheets (normalise.css, your framework and grid, and your main stylesheet in that order) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/responsive.css" rel="stylesheet" type="text/css">

<!-- end stylesheets -->

<!-- Google Analytics -->
    <!-- paste your google analytics code here -->
<!-- end google analytics -->
